<h2><a href="#projects/<%= project.escape("id") %>">
  <%= project.escape("title") %>
</a></h2>
<p><%= project.shortDescription() %></p>
<div class="index-item-progress">
  <p>$<%= project.escape("goal_amount") %> goal</p>
</div>
