<header class="project-show-header">
    <div class="project-title">
      <h1><%= project.get("title") %></h1>
      <h2>by <%= project.owner().escape("name") %></h2>
    </div>
    <div class="project-header-container clearfix">
      <img
        src="https://res.cloudinary.com/rocketstarter/image/upload/h_450,w_900/<%= project.get("image_path") %>"
        class="header-image">
      <div class="progress">
      </div>
    </div>
</header>

<main class="project-show-main">
  <div class="project-description">
    <h2>About this project</h2>
    <p><%= project.get("description") %></p>
  </div>
  <aside class="rewards">
    <ul class="rewards-list">
    </ul>
  </aside>
</main>
