<div id="navbar"></div>
<meta id="current-user-name" content="<%= current_user.name %>">
<main id="main"></main>
<script>
  window.cloudinaryPreset = "<%= ENV["cloudinary_preset"] %>";
  $(document).ready(function(){
    Kickstarter.initialize();
  });
</script>
