/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.user-form-container {
  width: 511px;
  margin-left: auto;
  margin-right:auto;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: lightgrey;
}

.user-form-container form {
  margin-left: auto;
  margin-right:auto;
}

input {
  display: block;
}

nav {
  position: relative
}

.logo {
  float: left;
}

.nav-item {
  float: left;
}

.nav-item:hover {
  background-color: lightgrey;
}

.nav-right {
  position: absolute;
  right: 10px;
}

.log-out-button{
  border:none;
  background-color: transparent;
}
