nav {
  position: relative;
  border-bottom: 1px solid grey;
  height: 60px;
}

.logo {
  font-size: 36px;
  float: left;
  margin: 10px;
}

.nav-item {
  float: left;
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
}

.nav-item * {
  margin: auto;
}

.nav-button:hover {
  background-color: lightgrey;
}

.nav-button a {
  display: block;
  text-align: center;
  padding-top: 21px;
  padding-bottom: 22px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  font-family: '.HelveticaNeueDeskInterface-Regular';
}

#hello {
  padding-top: 11px;
  font-size: 14px;
  font-family: '.HelveticaNeueDeskInterface-Regular';
}

.nav-right {
  position: absolute;
  right: 20px;
  height: 100%;
}

#log-out-link * {
  height: 100%
}

.log-out-button {
  border:none;
  background-color: transparent;
  font-size: 14px;
}
