.index-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.5;
  padding: 130px;
  border-bottom: 1px solid lightgrey;
  background-image: url("http://res.cloudinary.com/rocketstarter/image/upload/v1434660435/sdo_views_of_may_5_2015_x-class_flare_cffjyr_bb5q1s.jpg");
}

.index-title select {
  -webkit-appearance: none;
  background-color: inherit;
  font-size: 31px;
  padding: 5px;
}

.category-select {
  width: 330px;
  background: url(http://res.cloudinary.com/rocketstarter/image/upload/v1434473290/down_arrow_fg5lns.png) no-repeat 291px 15px;
}

.sort-select {
  width: 231px;
  background: url(http://res.cloudinary.com/rocketstarter/image/upload/v1434473290/down_arrow_fg5lns.png) no-repeat 195px 15px;
}

.index-title select:focus {
  outline:none;
}

.index-title option {
  -webkit-appearance: none;
}

.index-title select:hover {
  cursor: pointer;
  color: grey;
}

.projects-list {
  width: 1116px;
  margin: auto;
}

.projects-index-item {
  float: left;
  width: 320px;
  height: 235px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  margin: 20px;
}

.projects-index-item h1 {
  font-weight: bold;
}
