.projects-list {
  width: 1116px;
  margin: auto;
}

.projects-index-item {
  float: left;
  width: 320px;
  height: 220px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  margin: 20px;
}

.projects-index-item h1 {
  font-weight: bold;
}
