<a href="#"><h1 class="logo">ROCKETSTARTER</h1></a>
<div class="nav-item nav-button">
  <a href="#projects">Discover</a>
</div>
<div class="nav-item nav-button">
  <a href="#projects/new">Start</a>
</div>
<div class="nav-right">
  <div id="hello" class="nav-item">
    <div id="hello" class="nav-item">
      Logged in as <%= $("#current-user-name").attr("content") %>
    </div>
  </div>
  <div id="log-out-link" class="nav-item nav-button">
    <form action="/session" method="post">
      <input
        type="hidden"
        name="authenticity_token"
        value="<%= $("[name='csrf-token']").attr("content") %>"
      >
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" class="log-out-button" value="Log out">
    </form>
  </div>
</div>
