<!DOCTYPE html>
<html>
<head>
  <title>Rocketstarter</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <!-- todo: move all the extra javascript into only the root page
      that needs it -->
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
